html, body{
    height: 100%;
    /*width: 100%;*/
}

.innerContent{
    display: flex;
}

.btn-primary {
    width: 550px;
    height: 250px;
    background-color: transparent;
    font-weight: bolder;
    font-size: 80px;
    border: 0px solid transparent;
    border-radius: 60px;
}

.btn-primary:hover {
    background-color: rgba(51, 255, 240, 0.6);
}
.iconify {
    font-size: 150px;
    color: #ECECEC;
    border-right: 70px solid transparent;
}
.contain {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 10%;
    align-content: center;
    justify-content: center;

}

.header {
    font-size: 60px;
    color: white;
    font-weight: bold;
    border-bottom: 80px solid transparent;
}

.content{
    font-size: 20px;
    color: white;
    text-align: center;
}
.stripe {
    height: 2px;
    width: auto;
}


.pink {
    background: linear-gradient(to right, deeppink 0%, coral 100%);

}

.teal {
    background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);

}

.tomato {
    background: linear-gradient(to right, tomato 0%, gold 100%);

}

.purple {
    background: linear-gradient(to right, #9966ff, #6699ff);
}

.green {
    background: linear-gradient(to right, #9FFF33, #33FFCE);
}