html, body{
    height: 100%;
}

.innerContent{
    display: flex;
    margin-top: 70px;
}

.custom-btn {
    width: 550px;
    height: 250px;
    background-color: transparent;
    font-weight: bolder;
    font-size: 80px;
    border: 0px solid transparent;
    border-radius: 60px;
    margin-top: 15%;
}

.custom-btn:hover {
    background-color: rgba(51, 255, 240, 0.6);
}
.icon-startup {
    font-size: 150px;
    color: #ECECEC;
    border-right: 70px solid transparent;
}
.contain {
    height: 100vh;

    text-align: center;
    padding-top: 10%;
    align-content: center;
    justify-content: center;

}

.header {
    font-size: 60px;
    color: white;
    font-weight: bold;
    border-bottom: 80px solid transparent;
}

.content{
    font-size: 20px;
    color: white;
    text-align: center;
}


.pink {
    background: linear-gradient(to right, deeppink 0%, coral 100%);

}

.teal {
    background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);

}

.tomato {
    background: linear-gradient(to right, tomato 0%, gold 100%);

}

.purple {
    background: linear-gradient(to right, #9966ff, #6699ff);
}

.green {
    background: linear-gradient(to right, #9FFF33, #33FFCE);
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 0.75), rgba(255,255,255, 0));
}