html, body {
    height: 100%;
    font-size: 30px;
}

.bigContainer {
    background: linear-gradient(#00B4DB,#0083B0);
    height: 100vh;
    color: white;
    padding-top: 10%;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 0.75), rgba(255,255,255, 0));
}

.greeter {
    font-size: 80px;
    font-weight: bold;
    color: #f9f9f9;
}

span {
    font-weight: bold;
    font-size: 1.2rem;
    color: #E0F7FA;
}

.icon-dashboard {
    font-size: 80px;
    color: #b2d9e7;
}

.option {
    text-align: center;
}

.dashboard-row {
    margin-top: 70px;
}